#uv {
  margin: auto;
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 3px;
  border: violet solid 2px;
}

.location-forecast {
    text-align: center;
    margin: 10px;
    border: red solid 2px;
}

#weatherText {
  color: white;
  text-shadow: black 1px 2px;
}
#weatherContainer {
  height: 60%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: blue solid 2px;
}
.weatherBoxs{
  margin: 0 0 15px 0 !important;
  background-color: white;
  height: 50%;
  width: 25%;
  padding: 5px !important;
  
}
.weatherBoxs p{
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
}

.changeMeDate {
  font-size: 15px;
  color: black;
  font-weight: 450;
  margin: 10px
}
.changeMe1 {
  font-size: 15px;
  color: black;
  text-align: left;
}
.row:after{
  content: none;
}