

.location-forecast {
    text-align: center;
    margin: 10px;
}

#weatherText {
  color: white;
  text-shadow: black 1px 2px;
}
#weatherContainer {
  height: 60%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.weatherBoxs{
  margin: 0 0 15px 0 !important;
  background-color: white;
  height: 50%;
  width: 25%;
  padding: 5px !important;
  background-color: #e8f0fe;
  
}
.weatherBoxs p{
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
}

.changeMeDate {
  font-size: 15px;
  color: black;
  font-weight: 450;
  margin: 10px
}
.changeMe1 {
  font-size: 15px;
  color: black;
  text-align: left;
}
.row:after{
  content: none;
}

#weatherBox1 {
  border-top: #9a9a9a solid 2px;
  border-bottom: #9a9a9a solid 2px;
  border-left: #9a9a9a solid 2px;
  border-right: #9a9a9a solid 2px;
}

#weatherBox2 {
  border-top: #9a9a9a solid 2px;
  border-bottom: #9a9a9a solid 2px;
  border-right: #9a9a9a solid 2px;
  
}

#weatherBox3 {
  border-top: #9a9a9a solid 2px;
  border-bottom: #9a9a9a solid 2px;
  border-right: #9a9a9a solid 2px;
  
}

#weatherBox4 {
  border-top: #9a9a9a solid 2px;
  border-bottom: #9a9a9a solid 2px;
  border-right: #9a9a9a solid 2px;
  
}

#weatherBox5 {
  border-top: #9a9a9a solid 2px;
  border-bottom: #9a9a9a solid 2px;
  border-right: #9a9a9a solid 2px;
}
